body {
  color: #0291de;
  background: #a4e7fb;
  min-width: 320px;
  font: 1em Arial, Helvetica, sans-serif; }

.page-header__logo {
  background: url(../img/grid2flex.png) no-repeat;
  background-size: cover;
  display: block;
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden; }

.page-header__desc {
  font-size: 2em; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

.example [class*="col"] {
  color: #f8eded;
  margin-bottom: 10px;
  background: #0291de;
  background-clip: content-box !important; }
  .example [class*="col"] [class*="col"] {
    margin-top: 10px;
    background: #21aaf7; }

.inner {
  padding: 10px 15px; }
