// default configuration
$configuration: (
	columns-count:                               12,
	container:                                   grid-container,
	row:                                         row,
	column:                                      col,
	offsets-enabled:                             true,
	box-sizing-enabled:                          true,
	row-wrap-enabled:                            true,
	row-vertical-alignment-enabled:              true,
	row-horizontal-alignment-enabled:            true,
	row-direction-enabled:                               true,
	column-vertical-alignment-enabled:           true,
	column-ordering-enabled:                     true,
	breakpoints-enabled:                         true
) !default;

// default gutters
$gutters: (
	gutter:                                      20px, // default gutter on $row without gutter prefix
	gutter-none:                                 0,
	gutter-large:                                40px
) !default;

// default breakpoints
$breakpoints: (
	xs:                                          0,
	sm:                                          480px,
	md:                                          768px,
	lg:                                          1024px
) !default;