// variables
$configuration: (
	columns-count:                               12,
	row:                                         row,
	column:                                      col,
	offsets-enabled:                             true,
	row-vertical-alignment-enabled:              true,
	row-horizontal-alignment-enabled:            true,
	column-vertical-alignment-enabled:           true
) !default;

$gutters: (
	gutter-none:                                 0,
	gutter-default:                              20px,
	gutter-large:                                40px
) !default;

$breakpoints: (
	xs:                                          0,
	sm:                                          480px,
	md:                                          768px,
	lg:                                          1024px
) !default;