// variables

// default configuration
$configuration: (
	columns-count:                               12,
	row:                                         row,
	column:                                      col,
	offsets-enabled:                             true,
	row-vertical-alignment-enabled:              true,
	row-horizontal-alignment-enabled:            true,
	column-vertical-alignment-enabled:           true,
	breakpoints-enabled:                         true
) !default;

// default gutters
// default gutter value used on $row without gutter prefixes
$gutters: (
	gutter:                                      20px,
	gutter-none:                                 0,
	gutter-large:                                40px
) !default;

// default breakpoints
$breakpoints: (
	xs:                                          0,
	sm:                                          480px,
	md:                                          768px,
	lg:                                          1024px
) !default;