// example styles
body {
  color: #333;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

[class*="col-"] {
  margin-bottom: 10px;
  background: #ddd;
  position: relative;

  [class*="col-"] {
    margin-top: 10px;
    background: #eee;
  }
}

.inner {
  padding: 10px 15px;
}

.grid-example {
  position: absolute;
  z-index: -1;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  opacity: 0.5;

  [class*="col-"] {
    margin: 0;
    background: #b347af;

    &:nth-child(even) {
      background: #e06ddc;
    }
  }
}